<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Stexo - Responsive Admin & Dashboard Template | Themesdesign</title>
        <meta content="Responsive admin theme build on top of Bootstrap 4" name="description"/>
        <meta content="Themesdesign" name="author"/>
        <link
        rel="shortcut icon" href="/assets/images/favicon.ico">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="/plugins/morris/morris.css">

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

        
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{{!-- chart  --}}
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    </head>

    <body>


        <div
            class="header-bg">
            <!-- Navigation Bar-->
            <header id="topnav">
                <div class="topbar-main">
                    <div
                        class="container-fluid">

                        <!-- Logo-->
                        <div>
                            <a href="index.html" class="logo">
                                <span class="logo-light">
                                    <i class="mdi mdi-camera-control"></i>
                                    Fashion Kart
                                </span>
                            </a>
                        </div>
                        <!-- End Logo-->

                        <div class="menu-extras topbar-custom navbar p-0">
                            <ul class="list-inline d-none d-lg-block mb-0">
                                <li class="hide-phone app-search float-left">
                                    <form role="search" class="app-search">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" placeholder="Search..">
                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>

                            <ul class="navbar-right ml-auto list-inline float-right mb-0">
                                <!-- language-->


                                <!-- full screen -->
                                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block"> <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                                        <i class="mdi mdi-arrow-expand-all noti-icon"></i>
                                    </a>
                                </li>

                                <!-- notification -->


                                <li class="dropdown notification-list list-inline-item">
                                    <div class="dropdown notification-list nav-pro-img">
                                        <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                            <img src="/assets/images/users/user-4.jpg" alt="user" class="rounded-circle">
                                        </a>
                                        <div
                                            class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                            <!-- item-->
                                            <a class="dropdown-item" href="#">
                                                <i class="mdi mdi-account-circle"></i>
                                                Profile</a>
                                            <a class="dropdown-item" href="#">
                                                <i class="mdi mdi-wallet"></i>
                                                My Wallet</a>
                                            <a class="dropdown-item d-block" href="#">
                                                <span class="badge badge-success float-right">11</span>
                                                <i class="mdi mdi-settings"></i>
                                                Settings</a>
                                            <a class="dropdown-item" href="#">
                                                <i class="mdi mdi-lock-open-outline"></i>
                                                Lock screen</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="/admin/logout">
                                                <i class="mdi mdi-power text-danger"></i>
                                                Logout</a>
                                        </div>
                                    </div>
                                </li>

                                <li
                                    class="menu-item dropdown notification-list list-inline-item">
                                    <!-- Mobile menu toggle-->
                                    <a class="navbar-toggle nav-link">
                                        <div class="lines">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>
                                    <!-- End mobile menu toggle-->
                                </li>

                            </ul>

                        </div>
                        <!-- end menu-extras -->

                        <div class="clearfix"></div>

                    </div>
                    <!-- end container -->
                </div>
                <!-- end topbar-main -->

                <!-- MENU Start -->
                <div class="navbar-custom">
                    <div class="container-fluid">

                        <div
                            id="navigation">

                            <!-- Navigation Menu-->
                            <ul class="navigation-menu">

                                <li class="has-submenu">
                                    <a href="/admin/index">
                                        <i class="icon-accelerator"></i>
                                        Dashboard</a>
                                </li>
                                <li>
                                    <a href="/admin/userDetails">Users</a>
                                </li>


                                <li class="has-submenu">
                                    <a href="/admin/productDetails">
                                        <i class="icon-life-buoy"></i>
                                        Products<i class="mdi mdi-chevron-down mdi-drop"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a  id="navbarCatagory" onclick="navProductDetails()">Men</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a><button onclick="testadmin()"> Pants</button></a>
                                                </li>
                                                <li>
                                                    <a href="email-read.html">Froks</a>
                                                </li>
                                                <li>
                                                    <a href="email-compose.html">Churidars</a>
                                                </li>
                                            </ul>
                                        </li>
                                       </ul>
                                 
                                </li>
                                  <li class="has-submenu">
                                    <a href="#">
                                        <i class="icon-pencil-ruler"></i>
                                       Product Management
                                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                                    </a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li><a href="">Catagory</a></li>
                                                <li><a href="/admin/orderDetails">Orders</a></li>
                                                <li><a href="/admin/couponMangement">Coupons</a></li>
                                                <li><a href="ui-buttons.html">Buttons</a></li>
                                                <li><a href="ui-cards.html">Cards</a></li>
                                                <li><a href="ui-dropdowns.html">Dropdowns</a></li>
                                                <li><a href="ui-navs.html">Navs</a></li>
                                            </ul>
                                        </li>
                                       

                                      
                                    </ul>
                                </li>



                                <li class="has-submenu">
                                    <a href="#">
                                        <i class="icon-pencil-ruler"></i>
                                        UI Elements
                                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                                    </a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li><a href="/admin/banners">Banners</a></li>
                                                <li><a href="/admin/orderDetails">Order Management</a></li>
                                                <li><a href="ui-badge.html">Badge</a></li>
                                                <li><a href="ui-buttons.html">Buttons</a></li>
                                                <li><a href="ui-cards.html">Cards</a></li>
                                                <li><a href="ui-dropdowns.html">Dropdowns</a></li>
                                                <li><a href="ui-navs.html">Navs</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                                <li><a href="ui-modals.html">Modals</a></li>
                                                <li><a href="ui-images.html">Images</a></li>
                                                <li><a href="ui-progressbars.html">Progress Bars</a></li>
                                                <li><a href="ui-pagination.html">Pagination</a></li>
                                                <li><a href="ui-popover-tooltips.html">Popover & Tooltips</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <ul>
                                                <li><a href="ui-spinner.html">Spinner</a></li>
                                                <li><a href="ui-carousel.html">Carousel</a></li>
                                                <li><a href="ui-video.html">Video</a></li>
                                                <li><a href="ui-typography.html">Typography</a></li>
                                                <li><a href="ui-grid.html">Grid</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#">
                                        <i class="icon-life-buoy"></i>
                                        Components
                                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">Email</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="email-inbox.html">Inbox</a>
                                                </li>
                                                <li>
                                                    <a href="email-read.html">Email Read</a>
                                                </li>
                                                <li>
                                                    <a href="email-compose.html">Email Compose</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="calendar.html">Calendar
                                            </a>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Forms</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="form-elements.html">Form Elements</a>
                                                </li>
                                                <li>
                                                    <a href="form-validation.html">Form Validation</a>
                                                </li>
                                                <li>
                                                    <a href="form-advanced.html">Form Advanced</a>
                                                </li>
                                                <li>
                                                    <a href="form-editors.html">Form Editors</a>
                                                </li>
                                                <li>
                                                    <a href="form-uploads.html">Form File Upload</a>
                                                </li>
                                                <li>
                                                    <a href="form-mask.html">Form Mask</a>
                                                </li>
                                                <li>
                                                    <a href="form-summernote.html">Summernote</a>
                                                </li>
                                                <li>
                                                    <a href="form-xeditable.html">Form Xeditable</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-submenu">
                                            <a href="#">Charts
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="charts-morris.html">Morris Chart</a>
                                                </li>
                                                <li>
                                                    <a href="charts-chartist.html">Chartist Chart</a>
                                                </li>
                                                <li>
                                                    <a href="charts-chartjs.html">Chartjs Chart</a>
                                                </li>
                                                <li>
                                                    <a href="charts-flot.html">Flot Chart</a>
                                                </li>
                                                <li>
                                                    <a href="charts-c3.html">C3 Chart</a>
                                                </li>
                                                <li>
                                                    <a href="charts-other.html">Jquery Knob Chart</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-submenu">
                                            <a href="#">Tables
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="tables-basic.html">Basic Tables</a>
                                                </li>
                                                <li>
                                                    <a href="tables-datatable.html">Data Table</a>
                                                </li>
                                                <li>
                                                    <a href="tables-responsive.html">Responsive Table</a>
                                                </li>
                                                <li>
                                                    <a href="tables-editable.html">Editable Table</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-submenu">
                                            <a href="#">Icons</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="icons-material.html">Material Design</a>
                                                </li>
                                                <li>
                                                    <a href="icons-fontawesome.html">Font Awesome</a>
                                                </li>
                                                <li>
                                                    <a href="icons-outline.html">Outline Icons</a>
                                                </li>
                                                <li>
                                                    <a href="icons-themify.html">Themify Icons</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-submenu">
                                            <a href="#">Maps</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="maps-google.html">
                                                        Google Map</a>
                                                </li>
                                                <li>
                                                    <a href="maps-vector.html">
                                                        Vector Map</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#">
                                        <i class="icon-diamond"></i>
                                        Advanced UI
                                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                                    </a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li><a href="advanced-alertify.html">Alertify</a></li>
                                                <li><a href="advanced-rating.html">Rating</a></li>
                                                <li><a href="advanced-nestable.html">Nestable</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="advanced-rangeslider.html">Range Slider</a></li>
                                                <li><a href="advanced-sweet-alert.html">Sweet-Alert</a></li>
                                                <li><a href="advanced-lightbox.html">Lightbox</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#">
                                        <i class="icon-paper-sheet"></i>
                                        Pages
                                        <i class="mdi mdi-chevron-down mdi-drop"></i>
                                    </a>
                                    <ul class="submenu megamenu">

                                        <li>
                                            <ul>
                                                <li><a href="pages-pricing.html">Pricing</a></li>
                                                <li><a href="pages-invoice.html">Invoice</a></li>
                                                <li><a href="pages-timeline.html">Timeline</a></li>
                                                <li><a href="pages-faqs.html">FAQs</a></li>
                                                <li><a href="pages-maintenance.html">Maintenance</a></li>
                                                <li><a href="pages-comingsoon.html">Coming Soon</a></li>
                                                <li><a href="pages-starter.html">Starter Page</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="pages-login.html">Login</a></li>
                                                <li><a href="pages-register.html">Register</a></li>
                                                <li><a href="pages-recoverpw.html">Recover Password</a></li>
                                                <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                                                <li><a href="pages-404.html">Error 404</a></li>
                                                <li><a href="pages-500.html">Error 500</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <!-- End navigation menu -->
                        </div>
                        <!-- end #navigation -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end navbar-custom -->
            </header>
            <!-- End Navigation Bar-->
            <!-- jQuery  -->
             <!-- jQuery  -->
            <script src="/javascripts/myjs/ajaxFile.js"></script>
            <script src="/javascripts/myjs/myjs.js"></script>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/js/jquery.slimscroll.js"></script>
            <script src="/assets/js/waves.min.js"></script>

            <!--Morris Chart-->
            <script src="/plugins/morris/morris.min.js"></script>
            <script src="/plugins/raphael/raphael.min.js"></script>

            <script src="/assets/pages/dashboard.init.js"></script>

            <!-- App js -->
            <script src="/assets/js/app.js"></script>
            {{!-- chart  --}}
            <script src="/javascripts/myjs/chart.js"></script>    

        </body>
    </body>
</html>
