<section>
			<!-- CHECKOUT-AREA START -->
			<div class="checkout-area margin-bottom-80 mt-3">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<br><h3 class="title-6 margin-bottom-30 ">Checkout</h3>
						</div>
					</div>
					<div class="coupon-area">
						<div class="row">
							<div class="col-md-12">
								<div class="coupon-accordion">
									<!-- ACCORDION START -->
									
							
									<!-- ACCORDION START -->
									<h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
									<div id="checkout_coupon" class="coupon-checkout-content">
										<div class="coupon-info">
											<form action="#" id="checkOutForm">
												<p class="checkout-coupon">
													<input type="text" placeholder="Coupon code" />
													<input type="submit" value="Apply Coupon" />
												</p>
											</form>
										</div>
									</div>
									<!-- ACCORDION END -->						
								</div>
							</div>
						</div>
					</div>
					<!-- Checkout-Billing-details and order start -->
					<div class="checkout-bill-order">
						<form id="placeOrder">
							<div class="row">
								<div class="col-md-6">
									<div class="checkout-bill">
										<h3 class="title-7 margin-bottom-50">Billing Details</h3>
									</div>
									
									<div class="row coupon-info">
										<div class="col-md-12">
											<p class="form-row-first">
												<label> Name </label>
												<input type="text" id="name" name="name"/>
											</p>
										</div>
									</div>
									<div class="row coupon-info">
										<div class="col-md-6">
											<p class="form-row-first">
												<label>Email Address <span class="required">*</span></label>
												<input type="text" />
											</p>
										</div>
										<div class="col-md-6">
											<p class="form-row-last">
												<label>Phone  <span class="required">*</span></label>
												<input type="text" id="mobileNumber" name="mobileNumber" />
											</p>
										</div>
									</div>
									<div class="row coupon-info">
										<div class="col-md-12">
											<p class="form-row-first">
												<label>Country </label>
												<input type="text" id="country" name="country" />
											</p>
										</div>
									</div>
									<div class="row coupon-info">
										<div class="col-md-12">
											<p class="form-row-first">
												<label>Address </label>
												<input type="text" placeholder="Street address" name="address" />
											</p>
										</div>
									</div>
									<div class="row coupon-info">
										<div class="col-md-12">
											<p class="form-row-first">
												<label>Town / City </label>
												<input type="text" placeholder="" id="city" name="city" />
											</p>
										</div>
									</div>
									<div class="row coupon-info">
										<div class="col-md-6">
											<p class="form-row-first">
												<label>State <span class="required">*</span></label>
												<input type="text" id="state" name="state" />
											</p>
										</div>
										<div class="col-md-6">
											<p class="form-row-last">
												<label>PIN  <span class="required">*</span></label>
												<input type="text" id="pin" name="pin" />
											</p>
										</div>
									</div>
								
									<input type="text" id="userId"name="userId" value="{{user._id}}" hidden>
									
									
								</div>
								<div class="col-md-6">
									<div class="your-order">
										<h3 class="title-7 margin-bottom-50">Your Order</h3>
										<div class="your-order-table table-responsive">
											<table>
												<thead>
													<tr>
														<th class="product-name">Product</th>
														<th class="product-total">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="product-name">Lorem Ipsum comes	(1)</td>
														<td class="product-total">$499.00</td>
													</tr>
												
													
													<tr>
														<td class="product-name order-total">Order Total</td>
														<td class="product-total order-total">{{totalCost.[0].total}}</td>
													</tr>												
												</tbody>
											</table>
											<div class="payment-method">
												<input type="radio" name="paymentMethod" value="COD">  <label for="cod">Cash On Dellivery</label><br>
                                                <input type="radio" name="paymentMethod" value="PAYPAL">  <label for="">PayPal</label>
												<input type="radio" name="paymentMethod" value="RAZORPAY">  <label for="">RazorPay</label>                                      
												</div>
											<div class="order-button-payment">
												<input type="submit" value="Place order" />
											</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- Checkout-Billing-details and order end -->
				</div>
			</div>
			<!-- CHECKOUT-AREA END -->
			<!-- BRAND-LOGO-AREA START -->
			<div class="brand-logo-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-12">
							<div class="brand-brief">
								<h2 class="border-left-right">they are with us</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>
						</div>
						<div class="col-md-7 col-sm-12">
							<div class="brand-logo fix">
								<div class="single-logo">
									<img src="img/brand/1.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/2.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/3.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/4.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/5.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BRAND-LOGO-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->	
		
		

		
	