

		<!-- PAGE-CONTENT START -->
		<section class="page-content">
			<!-- 404-AREA START -->
			<div class="area-404 margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="error">
								<div class="error-title">
									<h1>404!</h1>
								</div>
								<div class="eror-brief">
									<h2>This page is not available</h2>
									<h3>We're sorry, but the Web address you've entered is no longer available.</h3>
								</div>
								
								<div class="back-home">
									<a href="/"> home page</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 404-AREA END -->