
<section class="page-content">
		
			<!-- PAGE-BANNER END -->
			<!-- LOGIN-AREA START -->
			<div class="lognin-area">
				<div class="container">
					<div class="row">
						<!-- Registered-Customers Start -->
						<div class="col-md-6">
							<form action="/login" method="POST">
								<div class="registered-customers">
									<h2 class="login-title">REGISTERED CUSTOMERS</h2>
									<div class="registered">
										<p>If you have an account with us, Please log in.</p>
										<div class="row">
											<div class="col-md-12">
												<input type="text" class="custom-form" name="email" placeholder="Email Address"  value="aswin@gmail.com" />
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<input type="password" class="custom-form" placeholder="Password" name="password" value="123"/>
											</div>
											{{#if logerr}}<label for="mobileNumber" style="color: red;">invalid credentials</label>{{/if}}
												{{#if blocked}}<label for="mobileNumber" style="color: red;">You have been blocked please contact Customer Care</label>{{/if}}
										</div>
										<p><label class="forgot"><a href="#">Forgot your password?</a></label></p>
										<input type="submit" class="custom-submit-2" value="login" />
									<a href="/loginWithOtp"><span class="custom-submit-2" onclick="otpPage()"  style="margin-left:40%"/>Login With Otp</span></a>

										
									</div>
								</div>
							</form>

							
						

						{{!-- otp login start --}}

							
						</div>
						{{!-- otp login end --}}
						<!-- Registered-Customers End -->
						<div class="col-md-6">
							<form action="/signup" method="POST">
								<div class="new-customers">
									<h2 class="login-title">NEW CUSTOMERS</h2>
									<div class="row">
										<div class="col-sm-6">
											<input type="text" class="custom-form" placeholder="First Name" name="firstName"  id="firstName" onfocusout="validateFirstName()" />
											<label for="fisrtName" id="labelname" ></label>
											<i class="fa fa-check" aria-hidden="true" style=" color:green" id="tick"></i>
										</div>
										<div class="col-sm-6">
											<input type="text" class="custom-form" placeholder="Last Name" name="lastName" id="lastName" onfocusout="validateSecondName()"/>
											<label for="fisrtName" id="labellastname" ></label>
										</div>

										
										
									</div>
									<div class="row">
										<div class="col-sm-12">
											<input type="text" class="custom-form" placeholder="address" name="address" />
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<select class="custom-select custom-form" name="city">
												<option>City</option>
												<option>Dhaka</option>
												<option>New York</option>
												<option>London</option>
												<option>Melbourne</option>
											</select>
										</div>
										<div class="col-sm-6">
											<select class="custom-select custom-form" name='country'>
												<option>Country</option>
												<option>Bangladesh</option>
												<option>United States</option>
												<option>United Kingdom</option>
												<option>Australia</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<input type="text" class="custom-form" placeholder="mobileNumber" name="mobileNumber" id="mobileNumber"onfocusout="validateNumber()" />
											<label for="mobileNumber" id="labelMobile" ></label>
											
										</div>
										<div class="col-sm-6">
											<input type="text" class="custom-form" placeholder="pinCode" name="pinCode" id="pinCode"onfocusout="validatePinCode()"/>
											<label for="mobileNumber" id="labelPin" ></label>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<input class="custom-form" type="text" placeholder="Email" name="email" />
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<input class="custom-form" type="password" placeholder="Password"name="password" id="password"/>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<input class="custom-form" type="password" placeholder="Confirm Password" id="confirmPassword" onfocusout="validatePassword()"/>
											<label for="text" id="labelPassword" ></label>
										</div>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="checked" name="create-account"/>
											Sign up for our newsletter!
										</label>
										<label>
											<input type="checkbox" name="billing-address"/>
											Receive special offers from our partners!
										</label>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<input type="submit" class="custom-form custom-submit no-margin" value="register" onclick="return validateSubmission()" />
											<label for="text" id="labelSubmission" ></label>
											{{#if phoneerr}}<label for="mobileNumber" style="color: red;">Mobile Number Already exists</label>{{/if}}
											{{#if emailerr}}<label for="email" style="color: red;">Email Already exists</label>{{/if}}
										</div>
										<div class="col-sm-6">
											<input type="submit" class="custom-form custom-submit no-margin" value="clear" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- LOGIN-AREA END -->
			<!-- BRAND-LOGO-AREA START -->
			<div class="brand-logo-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-12">
							<div class="brand-brief">
								<h2 class="border-left-right">they are with us</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>
						</div>
						<div class="col-md-7 col-sm-12">
							<div class="brand-logo fix">
								<div class="single-logo">
									<img src="img/brand/1.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/2.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/3.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/4.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/5.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BRAND-LOGO-AREA END -->
		
		<script src="/javascripts/myjs/myjs.js"></script>
		<script src="https://use.fontawesome.com/0e95deba40.js"></script>
		<!-- PAGE-CONTENT END -->

		<!-- FOOTER-AREA START -->
		</section>