
			<!-- WISHLIST-AREA START -->
            <br><br>
			<div class="shopping-cart-area wishlist-area ">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						
								<div class="table-content wishlist-table table-responsive">
									<table>
										<thead>
											<tr>
												<th class="product-thumbnail">Image</th>
												<th class="product-name">Name</th>
												<th class="product-edit">Edit</th>
												<th class="product-price">price</th>
												<th class="product-quantity">Quantity</th>
												<th class="product-add-to-cart">Add to Cart</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											
												<td class="product-thumbnail"><a href="#"><img src="img/cart/1.jpg" alt="" /></a></td>
												<td class="product-name"><a href="#">BABY NEW STYLE JACKETS</a></td>
												<td class="product-edit"><a href="#">Edit</a></td>
												<td class="product-price"><span class="amount">$350.00</span></td>
												<td class="product-quantity"><input type="text" value="1" /></td>
												<td class="product-add-to-cart"><a href="#">Add to Cart</a></td>
											</tr>
										</tbody>
										
										
									</table>
								</div>
						
						</div>
					</div>
				</div>
			</div>
			<!-- WISHLIST-AREA END -->
			<!-- BRAND-LOGO-AREA START -->
			<div class="brand-logo-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="brand-brief">
								<h2>they are with us</h2>
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
							</div>
						</div>
						<div class="col-md-7">
							<div class="brand-logo fix">
								<div class="single-logo">
									<img src="img/brand/1.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/2.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/3.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/4.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/5.png" alt="" />
								</div>
								<div class="single-logo">
									<img src="img/brand/6.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BRAND-LOGO-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->
		
		
		
		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="/js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
		<!-- jquery.nivo.slider js -->
        <script src="/lib/js/jquery.nivo.slider.js"></script>
        <script src="/lib/home.js"></script>
		<!-- owl.carousel js -->
        <script src="/js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="/js/jquery.meanmenu.js"></script>
		<!-- jquery-ui js -->
        <script src="/js/jquery-ui.min.js"></script>
		<!-- lightbox.min js -->
        <script src="/js/lightbox.min.js"></script>
		<!-- countdon.min js -->
        <script src="/js/countdon.min.js"></script>
		<!-- wow js -->
        <script src="/js/wow.min.js"></script>
		<script type="text/javascript">
			new WOW().init();
		</script>
		<!-- plugins js -->
        <script src="/js/plugins.js"></script>
		<!-- main js -->
        <script src="/js/main.js"></script>
    
    </body>
</html>
