
.thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
 }

 .thumbnail-description {
   min-height: 40px;
 }

 .thumbnail:hover {
  
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
 }

 .orderViewheader span {
  float:right;
 }
 .thumbnail h3 {

  text-align: center;
  cursor: pointer;
 }
 .thumbnail h3:hover {
color: red;
 }
 .single-product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .product-slider .single-product{
      margin-left: 10%;
    }