
.thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
 }

 .thumbnail-description {
   min-height: 40px;
 }

 .thumbnail:hover {
  
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 1);
 }

 .orderViewheader span {
  float:right;
 }
 .thumbnail h3 {

  text-align: center;
  cursor: pointer;
 }
 .thumbnail h3:hover {
color: red;
 }
 .single-product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .product-slider .single-product{
      margin-left: 10%;
    }
    .spinnert{
      display: flex;
        justify-content: center;
        align-items: center;
     
          }
      
          .lds-hourglass {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        
      }
      .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 32px solid #f6416c;
        border-color: #f6416c transparent #f6416c transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @keyframes lds-hourglass {
        0% {
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);
        }
      }
      .single-product img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }